<!DOCTYPE html>
<html>
<head>
  <title>Placeable</title>
  <%= stylesheet_link_tag    "placeable/application" %>
  <%= javascript_include_tag "placeable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
